<nav class="navbar navbar-fixed-top" id="header">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><span style="color:white;font-size: 25px;"><b style="font-family: 'QlassikBold_TB';">FirstChoiceServices </b>| Pilot Center</span></a>
    </div>



<% if (user) { %>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#" style="color: white;"><i class="sidebar-icon md-inbox"></i> <%= user.username %></a></li>
      <li><a href="/logout"  style="color: white;"><i class="sidebar-icon md-inbox"></i> Log out</a></li>
     
    </ul>
<% }  %>


  </div>
</nav>
