<div class="container-fluid " style="padding-top:0px;">
 
  <div class="row signin-bg">
   
   <div class="col-sm-7" >
  
   </div>
    <div class="col-sm-5" style="background: rgba(250, 250, 250, 0.7);height:600px;" >


  
 <form ngNoForm  action="/login" method="POST">
        
            <input type="text" required="" name="username" style="font-family: sans-serif;">
           
            <input type="password" required="" name="password" style="font-family: sans-serif;">
           


         <button type="submit" class="btn btn-primary" style="font-family: sans-serif;">Sign in</button>
  </form>




       
    </div>

  </div>
</div>