<nav class="navbar navbar-fixed-top navbar-inverse" id="header">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><span style="color:white;font-size: 25px;">
        <b style="font-family: 'QlassikBold_TB';">Taskimon </b>| Task Center</span>
        </a>
    </div>


  </div>
</nav>