<!DOCTYPE html>
<html>

<head>
  <title>Test</title>
  <meta charset="UTF-8">
  <base href="/" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


  <!-- Load the Angular Material stylesheet -->
  <link href="https://unpkg.com/@angular/material/prebuilt-themes/indigo-pink.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700&subset=latin,cyrillic-ext,latin-ext,cyrillic'
    rel='stylesheet' type='text/css'>
  <!--<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.min.css">-->
  <link rel="stylesheet" href="css/jquery.multilevelpushmenu.css">


  <script type="text/javascript" src="https://oss.maxcdn.com/libs/modernizr/2.6.2/modernizr.min.js"></script>

  <script src="js/lib/jquery.multilevelpushmenu.min.js"></script>






  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/spinner.css">
  <link rel="stylesheet" href="css/app.css">

  <link rel="stylesheet" href="app/styles/portrait.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



  <script src="js/lib/shim.min.js"></script>
  <script src="js/lib/zone.js"></script>
  <script src="js/lib/Reflect.js"></script>
  <script src="js/lib/system.src.js"></script>

  <script src="systemjs.app.config.js"></script>


  <script>
    System.import('app').catch(function (err) { console.error(err); });
  </script>
</head>

<body>
  <app>

    <div class="container fluid" style="overflow:'hidden';">
      <div class="row">

         <% include app/templates/portrait.html %>

        <div class="col-md-7" style="overflow-y: scroll;height: 100vh;">
          <div class="vertical-center">
            <div class="spinner-align vertical-center">
              <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="https://www.w3.org/2000/svg">
                <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>



  </app>

</body>

</html>