<h1 style="color:'green';">
    Dashboard
</h1>
<br/>


<div class="container">
    <div class="row">
        <div class="col-md-3">

            <!--<h3>Projects List</h3>-->

            <md-card style="width:200px;height:200px;background: #eceff1;margin: 4px;border-left-style: solid;border-left-color:#009085;">
                <md-card-content>
                    <h4 style="font-size: 100px;text-align: center;"> {{projectCount}}

                    </h4>
                    <span style="float: right;padding-top: 20px;font-size: 20px;">Projects</span>
                </md-card-content>
            </md-card>


        </div>
        <div class="col-md-3">

            <!--<h3>Projects List</h3>-->

            <md-card style="width:200px;height:200px;background: #eceff1;margin: 4px;border-left-style: solid;border-left-color:#009085;">
                <md-card-content>
                    <h4 style="font-size: 100px;text-align: center;"> {{taskCount}}

                    </h4>
                    <span style="float: right;padding-top: 20px;font-size: 20px;">Tasks</span>
                </md-card-content>
            </md-card>

        </div>
    </div>


    <div class="row">

        <div class="col-md-12">
            <hr>
            <h1> Tasks Status</h1>
            <hr>
        </div>
        <div class="col-md-3">

            <!--<h3>Projects List</h3>-->

            <md-card style="width:200px;height:200px;background: #eceff1;margin: 4px;border-left-style: solid;border-left-color:red;">
                <md-card-content>
                    <h4 style="font-size: 100px;text-align: center;"> {{openCount}}

                    </h4>
                    <span style="float: right;padding-top: 20px;font-size: 20px;">Open</span>
                </md-card-content>
            </md-card>


        </div>
        <div class="col-md-3">

            <!--<h3>Projects List</h3>-->

            <md-card style="width:200px;height:200px;background: #eceff1;margin: 4px;border-left-style: solid;border-left-color:yellow;">
                <md-card-content>
                    <h4 style="font-size: 100px;text-align: center;"> {{inprogressCount}}

                    </h4>
                    <span style="float: right;padding-top: 20px;font-size: 20px;">In progress</span>
                </md-card-content>
            </md-card>

        </div>
        <div class="col-md-3">

            <!--<h3>Projects List</h3>-->

            <md-card style="width:200px;height:200px;background: #eceff1;margin: 4px;border-left-style: solid;border-left-color:green;">
                <md-card-content>
                    <h4 style="font-size: 100px;text-align: center;"> {{completedCount}}

                    </h4>
                    <span style="float: right;padding-top: 20px;font-size: 20px;">Completed</span>
                </md-card-content>
            </md-card>

        </div>
    </div>
</div>