<h4>Work Experience</h4>

<div *ngFor="let item of experiences">

  <md-card class="example-card" style="background-color: rgba(0, 0, 0, 0.1);padding-bottom:10px">
    <md-card-header style="    background-color: #0e959a;
    margin-left: -25px;
    padding: 10px;
    margin-right: -25px;
    margin-top: -25px;">
      <md-card-title>
        <span style="color:white;font-weight: 200;font-size: 16px"><b>{{item.company}}</b>, {{item.location}}</span>
      </md-card-title>
    </md-card-header>
    <md-card-header style="    background-color: rgba(62, 230, 191, 1);
    margin-left: -25px;
    padding: 10px;
    margin-right: -25px;
    margin-top: -15px;">
      <md-card-title style="margin: 0px;">
        <span style="font-weight: 200;font-size: 14px;float:left">
          <b>     {{item.designation}}       <br/>     </b> </span>
        <span style="font-weight: 200;font-size: 14px;float:right;color:#0D47A1">
              : <b>{{item.from}}</b> to <b>{{item.to}}</b>
               </span>


      </md-card-title>
    </md-card-header>
    <md-card-header style="    background-color: rgba(0, 0, 0, 0);
    margin-left: -25px;
    padding: 10px;
    margin-right: -25px;
    margin-top: -20px;
    margin-bottom: -10px;">
      <md-card-title style="margin: 0px;">
        <span style="font-weight: 200">
        
      <br/>
      <span style="font-weight: 200;font-size: 14px;float:left;color:#0D47A1">
             <b>  Summary</b>
               </span>
               <br/>  
      <span style="font-size:14px"> 
                <ul>
          <li *ngFor="let list1 of item.summary">
                       <div [innerHTML]="list1"  style="color: black;">
</div>
            </li>
        </ul>
        
        </span>


         <span style="font-weight: 200;font-size: 14px;float:left;color:#0D47A1">
             <b>  Achievement Highlights</b>
               </span>
               <br/>  
        <span style="font-size:14px"> 
        <ul>
          <li *ngFor="let list2 of item.achievement">
            <div [innerHTML]="list2"  style="color: black;">
</div>

          </li>
        </ul>
        </span>
        </span>

      </md-card-title>
    </md-card-header>



  </md-card>
  <br/>
</div>