<div class="col-md-5" style="background-image: url('/images/bg2.png');background-repeat: no-repeat;background-size: cover;">





    <div style="position:absolute;
    display: flex;
  justify-content: flex-end;
  align-items: flex-end;
 
 bottom:20px;
  border: solid 1px transparent;
    ">

        <div id="myCarousel" class="carousel slide" data-ride="carousel">

            <ol class="carousel-indicators" style="bottom:-20px">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>


            <div class="carousel-inner">
                <div class="item active">


                    <div class="carousel-content">
                        <div>
                            <p style="color:#fff">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, sint fuga temporibus nam saepe
                                delectus expedita vitae magnam necessitatibus dolores tempore consequatur dicta cumque repellendus
                                eligendi ducimus placeat! </p>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="carousel-content">
                        <div>
                            <p style="color:#fff">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, sint fuga temporibus nam saepe
                                delectus expedita vitae magnam necessitatibus dolores tempore consequatur dicta cumque repellendus
                                eligendi ducimus placeat! </p>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="carousel-content">
                        <div>
                            <p style="color:#fff">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, sint fuga temporibus nam saepe
                                delectus expedita vitae magnam necessitatibus dolores tempore consequatur dicta cumque repellendus
                                eligendi ducimus placeat! </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="vertical-center">
    </div>






</div>