<h4>Projects</h4>

<div *ngFor="let item of projects">

  <md-card class="example-card" style="background-color: rgba(0, 0, 0, 0.1);padding-bottom:10px">
    <md-card-header style="    background-color: #0e959a;
    margin-left: -25px;
    padding: 10px;
    margin-right: -25px;
    margin-top: -25px;">
      <md-card-title>
        <span style="color:white;font-weight: 200;font-size: 16px"><b>{{item.name}}</b></span>
      </md-card-title>
    </md-card-header>
    <md-card-header style="    background-color: rgba(62, 230, 191, 1);
    margin-left: -25px;
    padding: 10px;
    margin-right: -25px;
    margin-top: -15px;">
      <md-card-title style="margin: 0px;">
        <table>
          <tr>
            <td>        <span style="font-weight: 200;font-size: 14px;float:left">
            <b>Client :<br/></b></span>
            </td>
             <td>        <span style="font-weight: 200;font-size: 14px;float:right;color:#0D47A1">
          <b>{{item.client}}</b></span>
            </td>
          </tr>
        </table>




      </md-card-title>
    </md-card-header>
    <md-card-header style="    background-color: rgba(0, 0, 0, 0);
    margin-left: -25px;
    padding: 10px;
    margin-right: -25px;
    margin-top: -20px;
    margin-bottom: -10px;">
      <md-card-title style="margin: 0px;">
        <span style="font-weight: 200">
        
      <br/>
      <span style="font-weight: 200;font-size: 14px;float:left;color:#0D47A1">
             <b>  Project Summary</b>
               </span>
               <br/>  
      <span style="font-size:14px"> 
                <ul>
          <li *ngFor="let list1 of item.summary">
                       <div [innerHTML]="list1"  style="color: black;">
</div>
            </li>
        </ul>
        
        </span>


         <span style="font-weight: 200;font-size: 14px;float:left;color:#0D47A1">
             <b>  My Roles & Responsibilities</b>
               </span>
               <br/>  
        <span style="font-size:14px"> 
        <ul>
          <li *ngFor="let list2 of item.roles"  style="color: black;">
            <div [innerHTML]="list2">
</div>

          </li>
        </ul>
        </span>
        </span>

      </md-card-title>
    </md-card-header>



  </md-card>
  <br/>
</div>