<!--<div class="col-md-6">
    <nav-bar>    </nav-bar>

    <div class="container" style="padding-top:50px;">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div id="router-content" style="margin-left:40px;">
                    <router-view></router-view>
                </div>
            </div>
            <side-nav></side-nav>

        </div>
    </div>
</div>-->
<div class="col-md-6">123456789---

    <nav-bar> </nav-bar>

    <div class="container" style="padding-top:50px;">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div id="router-content" style="margin-left:40px;">
                  dsds
                </div>
            </div>
           

        </div>
    </div>

</div>