 <!--<div id="toggle-button"><i class="fa fa-reorder"></i>toggle-button</div>-->
 
 
 <div id="menu" class="">
    <nav>
        <h2><i class="fa fa-reorder"></i>Menu</h2>
        <ul>
            <li>
                <a routerLink="dashboard"><i class="fa fa-tachometer"></i>Dashboard</a>
            </li>
            <li>
                <a routerLink="tasks"><i class="fa fa-tasks"></i>Tasks</a>
                <h2><i class="fa fa-tasks"></i>Tasks</h2>
                <ul>
                    <li>
                        <a routerLink="tasks"><i class="fa fa-phone"></i>View Tasks</a>
                    </li>

                    <li>
                        <a href="#"><i class="fa fa-phone"></i>Add Tasks</a>
                    </li>

                    <li>
                        <a href="#"><i class="fa fa-phone"></i>Edit Tasks</a>
                    </li>


                </ul>
            </li>
            <li>
                <a routerLink="projects"><i class="fa fa-folder"></i>Projects</a>
                <h2><i class="fa fa-folder"></i>Projects</h2>
                <ul>
                    <li>
                        <a routerLink="projects">View Projects</a>
                    </li>

                    <li>
                        <a href="#">Add Projects</a>
                    </li>

                    <li>
                        <a href="#">Edit Projects</a>
                    </li>

                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-user"></i>Users</a>
                <h2><i class="fa fa-user"></i>Users</h2>
                <ul>
                     <li>
                        <a href="#">View Users</a>
                    </li>

                    <li>
                        <a href="#">Add Users</a>
                    </li>

                    <li>
                        <a href="#">Edit Users</a>
                    </li>

                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-inbox"></i>Reports</a>
                <h2><i class="fa fa-inbox"></i>Reports</h2>
                <ul>
                   <li>
                        <a href="#">View Reports</a>
                    </li>

                    
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-cog"></i>Settings</a>
            </li>
        </ul>
    </nav>
</div>