<md-tab-group style="overflow:hidden">
    <md-tab label="All" style="height:100%">

        <div class="container fluid" style="height:100vh">
            <div class="row fluid">
                <div class="col-md-4" style="padding:2px">
                    <div class="container fluid">
                        <md-card style="margin:2px;">Simple card</md-card>
                    </div>
                </div>
               
                <div class="col-md-4" style="padding:2px">
                    <div class="container fluid">
                        <md-card style="margin:2px;">Simple card</md-card>
                    </div>
                </div>
               
                <div class="col-md-4" style="padding:2px">
                    <div class="container fluid">
                        <md-card style="margin:2px;">Simple card</md-card>
                    </div>
                </div>
               
                <div class="col-md-4" style="padding:2px">
                    <div class="container fluid">
                        <md-card style="margin:2px;">Simple card</md-card>
                    </div>
                </div>
               
                <div class="col-md-4" style="padding:2px">
                    <div class="container fluid">
                        <md-card style="margin:2px;">Simple card</md-card>
                    </div>
                </div>
               
                <div class="col-md-4" style="padding:2px">
                    <div class="container fluid">
                        <md-card style="margin:2px;">Simple card</md-card>
                    </div>
                </div>
               

            </div>
        </div>







    </md-tab>
    <md-tab label="Tab 2">Languages
        <md-card>Simple card</md-card>
        <md-card>Simple card</md-card>
        <md-card>Simple card</md-card>
    </md-tab>

</md-tab-group>